# Wind Farm Analysis

In [12]:
# Importing libraries 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [32]:
# Reading in Data

df = pd.read_csv('data/hly275/hly275.csv', skiprows=17)
df.head()

C:\Users\Marcella\AppData\Local\Temp\ipykernel_1544\3428889826.py:3: DtypeWarning: Columns (2,4,6,7,8,9,10,12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/hly275/hly275.csv', skiprows=17)

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl,ind.3,wdsp,ind.4,wddir
0,13-aug-2003 01:00,-1,,4,,4,,,,,,7,,7,
1,13-aug-2003 02:00,-1,,4,,4,,,,,,7,,7,
2,13-aug-2003 03:00,-1,,4,,4,,,,,,7,,7,
3,13-aug-2003 04:00,-1,,4,,4,,,,,,7,,7,
4,13-aug-2003 05:00,-1,,4,,4,,,,,,7,,7,